<div class="form-search mt-4">
  <form method="GET" action="">
    <div class="form-group">
      <label for="search-input" class="form-label"> Keyword </label>
      {{! <input type="text" name="firstName" />
      <input type="text" name="lastName" /> }}
      <input
        type="text"
        class="form-control"
        name="search"
        id="search-input"
        placeholder="Enter keyword"
      />
      <select
        type="text"
        class="form-select mt-3"
        name="search"
        id="search-input"
        placeholder="Enter keyword"
      >
        <option selected>Select Gender</option>
        <option value="male">Male</option>
        <option value="female">Female</option>

      </select>
    </div>
    <button type="submit" class="btn btn-danger mt-3">Submit</button>
  </form>
</div>